<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681965213142-u1jl7lfk8hetg95uj2mncc58h90n2ocr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681965213142-u1jl7lfk8hetg95uj2mncc58h90n2ocr</string>
	<key>API_KEY</key>
	<string>AIzaSyCKGIWbbSnokcsFUADUvlUtzWhX8zZbLF0</string>
	<key>GCM_SENDER_ID</key>
	<string>681965213142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vicentesiis.upax-test</string>
	<key>PROJECT_ID</key>
	<string>upax-test-cec44</string>
	<key>STORAGE_BUCKET</key>
	<string>upax-test-cec44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681965213142:ios:3f2b13eb0a992bb77c0077</string>
</dict>
</plist>